[[runs]]
######
# GA #
######
pop_size = 50
ga_steps = 100
mut_prob = 0.05
mut_prob_limit = 0.2
mut_step = 0.0
cross_frac = 0.0
cross_frac_limit = 0.0
cross_step = 0.0
num_genes = 8
gene_bits = 8
#GA will terminate when best fitness drops below this value
term_cutoff = 0.0

######################
# Regulatory Simulation #
######################
reg_steps = 50
min_protein_conc = 0.04
max_protein_conc = 1.0

decay_rate = 0.05
initial_proteins = 5
max_proteins = 20
max_mut_float = 0.5
max_mut_bits = 8

binding_seq_play = 2

###############################
# Genotype -> Phenotype Mapping #
###############################
# note: bounds are inclusive
growth_start = 10
growth_end = 19
growth_sample_interval = 2
growth_seq = "11111111"
growth_threshold = 0.25

code_start = 20
code_end = 49
code_sample_interval = 2

#####################
#Graphing and Logging #
#####################
#this should be one of:
# "all" - logs all grns and reg steps at a given ga_step interval
# "best" - logs only the best individual  with its reg steps, but does so on every iteration
log_mode = "all"

#note: this is in ga steps
fitness_log_interval = 10

#causes best fitness and avg fitness graphs to be generated
graph_results = true

#causes grns to be saved to the db
log_grns = true

#causes reg sim info to be saved to the db
#in addition, if graph_results is true, generates graphs of reg sim for best individual
#note: to use this, log_grns must be set to true
log_reg_steps = true

log_code_with_fitness = true

fix_rng_seed = true
fixed_rng_seed = 1207586232

log_dir = "data/dbs"
